header {
    margin: 0;
     width: @headerWidth;
     height: @headerHeight;
    display: flex;


  #myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    // min-height: 100%;
    width: 100%;
    // height: 500px;
    z-index: -100;
  }
   

    h1 {
        font-family: @fontFamily2;
        color: @main-bg;
        margin: 25% auto;
        align-items: center;
        font-size: 15rem;


    }
 

    .nav-bar {
        position: fixed;
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: flex-end;
       
        background-color: @bg-color;

        a {
            padding: 2% 20%;
            font-size: @navSize;
            ;
            font-family: @navigation-font;
            color: @eastern-blue;
            text-decoration: none;
            align-self: flex-start;
            
        
        }

    }

   
}

